@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap");

/* setup/resets */
html {
	line-height: 1.15;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
body {
	margin: 0;
}
article,
aside,
footer,
header,
nav,
section {
	display: block;
}
h1 {
	font-size: 2em;
	margin: 0.67em 0;
}
figcaption,
figure,
main {
	display: block;
}
figure {
	margin: 1em 40px;
}
hr {
	box-sizing: content-box;
	height: 0;
	overflow: visible;
}
pre {
	font-family: monospace, monospace;
	font-size: 1em;
}
a {
	background-color: transparent;
	-webkit-text-decoration-skip: objects;
}
abbr[title] {
	border-bottom: none;
	text-decoration: underline;
	text-decoration: underline dotted;
}
b,
strong {
	font-weight: inherit;
}
b,
strong {
	font-weight: bolder;
}
code,
kbd,
samp {
	font-family: monospace, monospace;
	font-size: 1em;
}
dfn {
	font-style: italic;
}
mark {
	background-color: #ff0;
	color: #000;
}
small {
	font-size: 80%;
}
sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
sub {
	bottom: -0.25em;
}
sup {
	top: -0.5em;
}
audio,
video {
	display: inline-block;
}
audio:not([controls]) {
	display: none;
	height: 0;
}
img {
	border-style: none;
}
svg:not(:root) {
	overflow: hidden;
}
button,
input,
optgroup,
select,
textarea {
	font-family: sans-serif;
	font-size: 100%;
	line-height: 1.15;
	margin: 0;
}
button,
input {
	overflow: visible;
}
button,
select {
	text-transform: none;
}
button,
html [type="button"],
[type="reset"],
[type="submit"] {
	-webkit-appearance: button;
}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
	border-style: none;
	padding: 0;
}
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
	outline: 1px dotted ButtonText;
}
fieldset {
	padding: 0.35em 0.75em 0.625em;
}
legend {
	box-sizing: border-box;
	color: inherit;
	display: table;
	max-width: 100%;
	padding: 0;
	white-space: normal;
}
progress {
	display: inline-block;
	vertical-align: baseline;
}
textarea {
	overflow: auto;
}
[type="checkbox"],
[type="radio"] {
	box-sizing: border-box;
	padding: 0;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
	height: auto;
}
[type="search"] {
	-webkit-appearance: textfield;
	outline-offset: -2px;
}
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}
::-webkit-file-upload-button {
	-webkit-appearance: button;
	font: inherit;
}
details,
menu {
	display: block;
}
summary {
	display: list-item;
}
canvas {
	display: inline-block;
}
template {
	display: none;
}
[hidden] {
	display: none;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: "";
	clear: both;
	height: 0;
}

* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

/* layout */
:root {
	--primary: purple;
	--secondary: lightgray;
	--error: #e7195a;
}

body {
	background: #f1f1f1;
	margin: 0;
	font-family: "Poppins";
}
header {
	background: #fff;
}
header .container {
	max-width: 760px;
	margin: 0 auto;
	padding: 10px 20px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
header a {
	color: #333;
	text-decoration: none;
}
h1 {
	font-size: 30px;
}
h2 {
	font-size: 20px;
}
.pages {
	max-width: 760px;
	padding: 20px;
	margin: 0 auto;
}
/* navbar */
.user-options span,
.user-options a {
	text-decoration: underline;
	color: var(--primary);
}

/* homepage */
.home {
	display: grid;
	grid-template-columns: 3fr 1fr;
	gap: 105px;
}

/* saved workouts */
.workouts-list ul {
	list-style-type: none;
	padding: 0;
	position: relative;
}
.workout-details {
	position: relative;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05);
	margin: 20px 0;
}
.workout-details h4 {
	margin: 0 0 10px 0;
	font-size: 1.2em;
	color: var(--primary);
}
.workout-details p {
	margin: 0;
	font-size: 0.9em;
	color: #555;
}

.display-wrapper {
	background: #fff;
	border-radius: 4px;
	padding: 20px 20px 40px 20px;
	position: relative;
	width: 100%;
}
.upper-wrapper {
	display: flex;
}
.lower-wrapper {
	background-color: #fff;
	position: relative;
}
form.edit {
	padding: 10px 20px 50px 20px;
}
form.edit input {
	margin: 5px 0;
}
/* timer */
.timer-wrapper {
	width: calc(100% - 20px);
	padding: 20px 20px 40px 20px;
	background-color: white;
	position: relative;
}

.timer-display {
	display: flex;
	text-align: center;
	justify-content: center;
	flex-direction: column;
}
.timer-display-panel {
	display: flex;
	margin: 0 0 20px 0;
	position: relative;
	border-radius: 4px;
	background-color: #f1f1f1;
}
.timer-count {
	flex-grow: 1;
	display: block;
	position: static;
	font-weight: normal;
	font-size: 40px;
}
.active {
	background-color: lightgreen;
}

.timer-remainder {
	position: absolute;
	bottom: 11px;
	padding: 5px 0;
}
.timer-buttons {
	display: flex;
	flex-direction: column;
}
.increment,
.decrement {
	padding: 2px 6px;
}
.increment {
	right: 0;
	top: 0;
	margin-bottom: 2px;
}
.decrement {
	right: 0;
	bottom: 0;
}

.remove-btn {
	position: absolute;
	right: 0;
	top: 12.5px;
	cursor: pointer;
	background: #f1f1f1;
	padding: 6px;
	border-radius: 50%;
	color: #333;
}
.start-btn,
.stop-btn,
.restart-btn,
.next-btn {
	position: absolute;
	right: 20px;
}

.stop-btn {
	background-color: var(--secondary);
	color: black;
}
.add-btn {
	margin: 20px 0 0 0;
}
.edit-btn {
	position: absolute;
	right: 0;
}
.update-btn {
	position: absolute;
	bottom: 15px;
	right: 20px;
}
.close-btn {
	position: absolute;
	bottom: 15px;
	right: 105px;
}

.workouts-list ul {
	list-style-type: none;
	padding: 0;
}
.user-options span,
.user-options a {
	text-decoration: underline;
	color: var(--primary);
}
/* loading animation*/
/* source: https://stackoverflow.com/a/28074607 */
.loading:after {
	overflow: hidden;
	display: inline-block;
	vertical-align: bottom;
	-webkit-animation: ellipsis steps(4, end) 500ms infinite;
	animation: ellipsis steps(4, end) 500ms infinite;
	content: "\2026";
	width: 0px;
}

@keyframes ellipsis {
	to {
		width: 20px;
	}
}

@-webkit-keyframes ellipsis {
	to {
		width: 20px;
	}
}

/* new workout form */
label,
input {
	display: block;
}
input {
	padding: 10px;
	margin: 5px 0;
	width: 100%;
	border: 1px solid #ddd;
	border-radius: 4px;
	box-sizing: border-box;
}
button {
	background: var(--primary);
	border: 0;
	color: #fff;
	padding: 10px;
	font-family: "Poppins";
	border-radius: 4px;
	cursor: pointer;
	padding: 5px 10px;
	border-radius: 4px;
}
div.error {
	padding: 10px;
	background: #ffefef;
	border: 1px solid var(--error);
	color: var(--error);
	border-radius: 4px;
	margin: 20px 0;
}
input.error {
	border: 1px solid var(--error);
}

nav a,
span {
	padding: 0 5px;
}

/* login */
.img-container {
	margin: 40px 0 0 0;
}
img {
	object-fit: cover;
	width: 100%;
	border-radius: 4px;
}
.guest-login {
	margin: 0 5px;
}

/* footer */
.footer p {
	text-align: center;
	margin: 0 0 10px 0;
}

@media (max-width: 630px) {
	header .container {
		flex-direction: column;
		position: relative;
	}
	h1 {
		text-align: center;
	}
	h2 {
		text-align: center;
	}
	.upper-wrapper {
		flex-direction: column-reverse;
		position: relative;
	}

	.timer-wrapper {
		width: 100%;
	}
	.timer-wrapper h4 {
		text-align: left;
	}
	.edit-btn,
	.remove-btn {
		right: 20px;
	}
}
